/* Body */


*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
main{
    flex-grow: 1;
}

*, ::after, ::before {
    box-sizing: border-box;
}


/* Font*/


@font-face {
    font-family: 'WHITE RABBIT';
    src: url('../Assets/Fonts/whitrabt.ttf') format('truetype');
}
@font-face {
    font-family: 'Dogica';
    src: url('../Assets/Fonts/dogica.otf') format('opentype');
}

@font-face {
    font-family: 'Bahnschrift';
    src: local('Bahnschrift');
}

/* Nav Bar */


.navbar{
    height: 60px;
    flex-direction: row;
    background-image: var(--bs-gradient);
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: "WHITE RABBIT";
}
.logo{
    padding-top: 10px;
    padding-left: 10px;
}
.menus{
    display: flex;
    
}
.menus a{
    color: rgb(255, 255, 255);
    padding: 10px;
    text-decoration:none;
}
.menus a:hover{
    text-decoration: underline;
}


/*Main Page*/


.word {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: calc(100vh - 80px);
    
}


.l1 {
    font-size: xx-large;
    position: absolute;
    top: 35%; 
    left: 30%;
    transform: translate(-50%, -50%);
    
}

.l2 {
    font-size: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Coder {
    color: rgb(255, 255, 255);
    font-family: "Dogica", sans-serif;
    font-size: 20px;
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}


.Coder .dynamic {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    overflow: hidden;
}

.dynamic li {
    list-style: none;
    position: relative;
    color: rgb(91, 176, 255);
}

.dynamic li::after {
    content: "";
    position: absolute;
    left: 0;
    height: 120%;
    width: 100%;
    background-color: black;
    border-left: 10px solid rgb(91, 176, 255);
    animation: typing 6s steps(26) infinite;
}

@keyframes typing {
    40%, 60% {
        left: calc(100%);
    }
    100% {
        left: 0;
    }
}
.word{

    color: white;
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.l1 {
    font-size: xx-large;
    
}
.l2 {
    height: 50vh;
  
    font-size: 150px;
    /* text-align: center; */
    
}

@media (max-width: 1300px) {

    .l1{
        font-size: 25px;
    }
    .l2{
        
        font-size: 100px;
    }
}

/* About Page */


.about-me{
    margin: 50px;
    font-size: 30px;
}
.profile{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Bahnschrift;
}

.profile img{
    padding-top: 20px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    

}
.about-me{
    font-size: 25px;
}


/* Projects Page */


.projects{
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
}
.projectsRow{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    width: auto;
    gap: 20px;


}

.Project-paragraph{
    color: aliceblue;
    display: flex;
    font-size: 40px;
    padding: 10px;
    

}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: #1d1d1d;
    padding: 30px;
    border-radius: 100px;
    box-shadow: 0 4px 4px rgba(28, 28, 28, 0.9);
    margin: 20px 0;
    
}
.box img{
    object-fit: cover;
    height: 400px;
    width: 400px;
    margin: 20px;
    border-radius: 20%;
    flex-shrink: 0;

}
.p1{
    flex-direction: row-reverse;
    justify-self: flex-start;
}

.p2{
    flex-direction: row;
    justify-self: flex-start;
}

@media (max-width: 1100px){
    .projectsRow
    {
        display: flex;
        
    }
    .box{
        max-width: auto;
        margin: 20px 0;
        flex-direction: column;
        align-items: center;
        width: 80%;
        height: 100%;
        
    }
    .box img{
        width: 150px;
        height: 150px;
        max-height: none;;
    }
    .Project-paragraph{
        text-align: center;
        margin-top: 15px;
        font-size: 15px;
    }
}

/* End Body*/


footer { 
    background-color: rgb(26, 25, 25);
    padding: 40px ;
    color: gold;
    text-align: center;
    font-family: 'WHITE RABBIT';
    font-size: 25px;
}
