/* Body */


*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
main{
    flex-grow: 1;
}

*, ::after, ::before {
    box-sizing: border-box;
}


/* Font*/


@font-face {
    font-family: 'WHITE RABBIT';
    src: url(../Assets/Fonts/whitrabt.ttf) format('ttf');
}
@font-face {
    font-family: 'Dogica';
    src: url(../Assets/Fonts/dogica.otf) format('otf');
}
@font-face {
    font-family: 'Bahnschrift';
    src: local('Bahnschrift');
}

/* Top Page */


.navbar{
    height: 60px;
    flex-direction: row;
    background-image: var(--bs-gradient);
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: "WHITE RABBIT";
}
.logo{
    padding-left: 10px;
}
.menus{
    display: flex;
    
}
.menus a{
    color: rgb(255, 255, 255);
    padding: 10px;
    text-decoration:none;
}
.menus a:hover{
    text-decoration: underline;
}


/*Main Page*/


.Coder{
    color: rgb(255, 255, 255);
    padding: 90px;
    font-size: 50px;
    padding-top: 110px;
    word-wrap: break-word;
    font-family: "Dogica", sans-serif;
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid black;
    width: 20ch; /* Controls visible width */
    animation: typing 5s steps(20) infinite, blink 0.1s step-end infinite alternate;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 20ch;
    }
  }
  
  @keyframes blink {
    from {
      border-color: transparent;
    }
    to {
      border-color: transparent;
    }
  }
.word{
    color: white;
    text-align: center;
}
.l1 {
    margin-right: 40%;
    font-size: xx-large;
}
.l2 {
    font-size: 150px;
}


/* About Page */


.about-me{
    margin: 50px;
    font-size: 30px;
}
.profile{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Bahnschrift;
}

.profile img{
    padding-top: 20px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    

}
.about-me{
    font-size: 25px;
}


/* Projects Page */


.projects{
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
}
.projectsRow{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    width: auto;
    gap: 20px;


}

.Project-paragraph{
    color: aliceblue;
    display: flex;
    font-size: 40px;
    padding: 10px;
    

}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: #1d1d1d;
    padding: 30px;
    border-radius: 100px;
    box-shadow: 0 4px 4px rgba(28, 28, 28, 0.9);
    margin: 20px 0;
    
}
.box img{
    object-fit: cover;
    height: 400px;
    width: 400px;
    margin: 20px;
    border-radius: 20%;
    flex-shrink: 0;

}
.p1{
    flex-direction: row-reverse;
    justify-self: flex-start;
}

.p2{
    flex-direction: row;
    justify-self: flex-start;
}

@media (max-width: 1100px){
    .projectsRow
    {
        display: flex;
        
    }
    .box{
        max-width: 100%;
        margin: 20px 0;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 100%;
        
    }
    .box img{
        width: 300px;
        height: 300px;
        max-height: none;;
    }
    .Project-paragraph{
        text-align: center;
        margin-top: 15px;
        font-size: 20px;
    }
}

/* End Body*/


footer { 
    background-color: rgb(26, 25, 25);
    padding: 40px ;
    color: gold;
    text-align: center;
    font-family: 'WHITE RABBIT';
    font-size: 25px;
}
