*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'WHITE RABBIT';
    src: local('WHITE RABBIT');
}
@font-face {
    font-family: 'Dogica';
    src: url('Dogica');
}
.navbar{
    height: 60px;
    width: 100vw;
    background-color: grey;
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: white;
    font-family: "WHITE RABBIT";
}
.logo{
    padding-left: 10px;
}
.menus{
    display: flex;
}
.menus a{
    color: white;
    padding: 10px;
    text-decoration:none;

}
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
}
.projectsRow{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    

}
.box{
    display: inline;
    height: 200px;
    width: 200px;
    background: blanchedalmond;
    text-align: center;
    margin: 20px;
    border-radius: 40px;
}
